<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<wicket:panel>
	<span><a class="btn btn-mini btn-info" wicket:id="editLink"><wicket:message key="edit-link"></wicket:message></a></span>
	<span>&nbsp;&nbsp;</span>
	<span><a class="btn btn-mini btn-danger" wicket:id="deleteLink"><wicket:message key="delete-link"></wicket:message></a></span>
</wicket:panel>
</html>
